<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/css/style.css">

</head>
<body class="bg-blue-100 ">
    
    <main class=" bg-blue-500 w-[650px] h-[350px] m-auto mt-[200px] justify-center rounded-md shadow-xl/30">
        <form action="" method="post" class="p-[10px]" >
                <label for="" class="text-xl text-shadow-lg/20 text-gray-300">Nombre de la Reservacion</label>
                <input type="text" name="" id="" class=" border-gray-300 border-solid border-b-2">
                <div class="info-Principal">
                    <fieldset class=" border-gray-400 border-solid border-2 rounded-md pt-[20px] pb-[30px] mb-[25px] text-center" >
                        <legend class=" font-semibold text-lg text-shadow-lg/20 text-gray-300">Info Principal</legend>
                            <label for="" class="text-gray-300">Habitacion</label>
                                <select name="" id="" class=" border-gray-300 border-solid border-b-2">
                                    <option value=""></option>
                                    <option value="">Suite Precidencial</option>
                                    <option value="">Suite Junior</option>
                                    <option value="">Habitacion Delux</option>
                                    <option value="">Habitacion Estandar</option>
                                </select>
                                <label for=""class="text-gray-300">Cantidad de Personas</label>
                                <input type="text" name="" id="" class=" border-gray-300 border-solid border-b-2">
                    </fieldset>
                </div>
                <div class="tiempo-estadia">
                    <fieldset class=" border-gray-400 border-solid border-2 rounded-md text-center pt-[20px] pb-[30px]">
                        <legend class=" font-semibold text-lg text-shadow-lg/20 text-gray-300" >Tiempo de Estadia</legend>
                            <label for=""class="text-gray-300">Desde</label>
                            <input type="date" name="" id="" class=" border-gray-300 border-solid border-b-2">
                            <label for=""class="text-gray-300">Hasta</label>
                            <input type="date" name="" id="" class=" border-gray-300 border-solid border-b-2">
                </fieldset>
                </div>
        </form>
    </main>
</body>
</html>