<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/css/style.css">

</head>
<body class="bg-blue-200">
    
    <form action="" method="post" class=" text-center">
            <label>Nombre de la Reservacion</label>
            <input type="text" name="" id="">
        <fieldset class=" flex-col">
            <legend>Info Principal</legend>
                <label for="">Habitacion</label>
                <select name="" id="">
                    <option value=""></option>
                    <option value="">Suite Precidencial</option>
                    <option value="">Suite Junior</option>
                    <option value="">Habitacion Delux</option>
                    <option value="">Habitacion Estandar</option>




                </select>
                <label for="">Cantidad de Personas</label>
                <input type="text" name="" id="">


        </fieldset>


        
    </form>
</body>
</html>