<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/css/style.css">

</head>
<body class="bg-blue-200">
    
    <main class=" bg-amber-300 w-[600px] h-[300px] m-auto mt-[200px] text-center rounded-b-sm">
        <form action="" method="post" class="" >
                <label for="">Nombre de la Reservacion</label>
                <input type="text" name="" id="">
                <div class="info-Principal">
                    <fieldset>
                        <legend>Info Principal</legend>
                            <label for="">Habitacion</label>
                                <select name="" id="">
                                    <option value=""></option>
                                    <option value="">Suite Precidencial</option>
                                    <option value="">Suite Junior</option>
                                    <option value="">Habitacion Delux</option>
                                    <option value="">Habitacion Estandar</option>
                                </select>
                                <label for="">Cantidad de Personas</label>
                                <input type="text" name="" id="">
                    </fieldset>
                </div>
                <div class="tiempo-estadia">
                    <fieldset>
                        <legend>Tiempo de Estadia</legend>
                            <label for="">Desde</label>
                            <input type="date" name="" id="">
                            <label for="">Hasta</label>
                            <input type="date" name="" id="">
                </fieldset>
                </div>
        </form>
    </main>
</body>
</html>