<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/css/style.css">
</head>
<body class="font-sans">
    <header class=" rounded-[20px]">
        <div class="header-principal flex flex-row justify-between shadow-lg p-4 bg-blue-300 rounded-[10px] p-[15px] m-[15px]">
            
            <div class="contac flex gap-[6px] ">
                <img class=" w-4 h-4" src="/public/img/telefono.png" alt=""><p>+58 4243548102</p>
                <img class=" w-4 h-4" src="/public/img/email.png" alt=""><p>hotelreservetion@gmail.com</p>
            </div>

            <div class="img flex gap-[6px] ">
                <img class=" w-7" src="/public/img/facebook-logo.png" alt="">
                <img class=" w-7" src="/public/img/Instagram_icon.png" alt="">
            </div>
        </div>
        
    </header>
    
</body>
</html>