<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/css/style.css">
</head>
<body class="font-sans">
    <header class=" rounded-[20px]">
        <div class="header-principal flex flex-row justify-between bg-blue-300 p-[15px]">
            
            <div class="contac flex gap-[6px] ">
                <img src="/public/img/" alt=""><p>+58 4243548102</p>
                <img src="" alt=""><p>hotelreservetion@gmail.com</p>
            </div>

            <div class="img flex gap-[6px] ">
                <img class=" w-7" src="/public/img/facebook-logo.png" alt="">
                <img class=" w-7" src="/public/img/Instagram_icon.png" alt="">
            </div>
        </div>
        <div class="header-secundario flex flex-row justify-between m-[15px] ">
                <img class="w-[50px]" src="/public/img/facebook-logo.png" alt=""> 
                <details>
                    <summary>Habitaciones</summary>
                    <ul>
                        <li>Suite Presidencial</li>
                        <li>Suite Junior</li>
                        <li>Habitacion Deluxe</li>
                        <li>Habitacion Estandar</li>
                    </ul>
                </details>
                <details>
                    <summary>Servicios</summary>
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>
                </details>
                <a href="">Galeria</a>
                <a href="">Inicio</a>
                <a href="">Reverva Ahora</a>
        </div>
    </header>
    
</body>
</html>